* {
  margin: auto;
  box-sizing: border-box;
}

.hback {
  padding-top: 20px;
}

.head {
  height: 10vh;
  width: 100%;
  background: rgb(183,134,47);
background: linear-gradient(90deg, rgba(183,134,47,1) 8%, rgba(185,137,50,1) 23%, rgba(209,176,94,1) 35%, rgba(233,214,137,1) 53%, rgba(183,134,47,1) 84%);
  display: flex;
}

.hback {
  background-color: rgb(14, 13, 13);
  height: 10vh;
}

.head1 {
  border-radius: 20px;
  border: 1px solid white;
  /* background-color: yellowgreen; */
  background: transparent;
  width: 70px;
  height: 30px;

}
#reg {
  width: 100px;

  font-size: 15px;
  color: white;
  margin-right: 20px;
  margin-top: 3vh;
}

#reg:hover {
  background-color: whitesmoke;
  font-size: 1rem;
  color: yellowgreen;
}

#icon {
  margin-top: 50px;
  height: 60px;
  width: 150px;
  margin: 10px 0px 0px 20px;
}

.search-container > form > input[type="text"]:focus {
  border: none;
  outline: none;
}

.search-container {
  width: 250px;
  height: 30px;
  background-color: black;
  text-align: center;
  padding-top: 2px;
  border-radius: 20px;
  /* background-color: yellowgreen; */
  background: transparent;
  border: 1px solid white;
}

.search-container .button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container {
  margin-right: 2vh;
  margin-top: 3vh;

  input {
    border: none;
    /* background-color: yellowgreen; */
    background: transparent;
    font-size: 12px;
    text-align: left;
    padding-right: 60px;
  }

  button {
    border: none;
    /* background-color: yellowgreen; */
    background: transparent;
    border-radius: 100px;
  }
  i {
    /* background-color: yellowgreen; */
    background: transparent;
    border-radius: 100px;
    font-size: 18px;
  }
}

nav {
  background-color: black;
  height: 43px;

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 50px;
  }

  overflow: auto;
  white-space: nowrap;
}

.button {
  display: flex;
  height: 8vh;
  margin: 10px 0px 0px 605px;
  width: 45%;
  background-color: yellowgreen;
}

#rul {
  color: black;
  font-size: 14px;
  margin-left: 90vh;
  margin-top: 3vh;
}

#rul:hover {
  background-color: whitesmoke;
  font-size: 15px;
}

#log {
  color: white;
  font-size: 14.5px;
  margin-right: 1vh;
  margin-top: 3vh;
}

#log:hover {
  background-color: whitesmoke;
  font-size: 15px;
  color: yellowgreen;
  border: 1px solid white;
}

.modal-content {
  background-image: url("assests/bacimg.jpg");
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-reprat;
}


.btn-close{

  background-color: #bd9999;
  border: 1px solid black;

  box-shadow: none;
}

.btn-close:focus{
 
  box-shadow: none;
  border: none;
}


.modal-title{
  text-align: center;
  justify-content: center;
  margin-right: 10px;
}









.user {

  text-align: center;
  justify-items: center;
  justify-content: center;
  margin-top: 100px;
  

  #icon {
    width: 250px;
    padding-bottom: 5px;
  }

  input {
    
    padding-left: 7px;
    display: flex;
    width: 300px;
    border-radius: 5px;
    height: 40px;
    margin: 5px 82px;
  }

  #login {
    width: 300px;
    color: white;
    background: #b88831;
    height: 40px;
   margin-top: 5px;
  }

  #down {
    margin-top: 2px;
    width: 300px;
    background: rgb(185, 137, 50);
    background: linear-gradient(
      90deg,
      rgba(185, 137, 50, 1) 17%,
      rgba(209, 176, 94, 1) 35%,
      rgba(233, 214, 137, 1) 56%,
      rgba(187, 140, 54, 1) 78%
    );
    height: 30px;
    font-size: 12px;
    border-radius: 5px;

    svg {
      height: 22px;
      width: 20px;
    }
  }

  a {
    color: black;
  }

  #link {
    width: 300px;
    background: rgb(185, 137, 50);
    height: 35px;
    margin: 10px 0px 5px 0px;


  }




  
#e-mail{

     width: 300px;
     padding: 3px 15px;
    background: rgb(185, 137, 50);
    height: 35px;
    background: transparent;
    color: white;
    border: none;
    text-decoration: none;
    background-color: rgba(18, 17, 50, 0.4)   ;

  
}



}

/*--------------------------------
--------After menu bar------------
----------------------------------*/
.content {
  display: flex;
  margin-top: 19px;
}

#play-img {
  width: 30px;
  height: 20px;
}

#sidecontent {
  text-align: center;
  width: 17%;
  height: 1400px;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(211, 169, 169);
  padding: 1px;
  margin-top: 5.7vh;

  button {
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid wheat;
    text-align: left;
    font-size: 17px;
  }


  svg{
    float: right;
  }
}

#a1:hover {
  font-size: 19px;
  background: rgb(233, 196, 196);
  

  border: none;
}




.hello{

  width: 100%;
  height: 150px;
  margin-top: 20px;


  padding-left:10px ;
  



  p{
    font-size: 12px;  
    float: left;
    margin-left: 5px;
    color: #64615c;


  }
   
    
  img{
    width: 30px;
    height: 30px;
    
   
    

  }
  
  a{
    color: rgb(43, 39, 39);
    text-decoration: none;
    padding-left: 5px;

  }



  #imgwhat{
    float: left;

   
  }
   

  #lkhell{
    font-size: 13px;
    color: #524d46;
    
  }


}

span{

  float: left;
  margin-bottom: 5px;
  font-size: 12px; 
  margin-right: 15px; 

}

span:hover{
  #lkhell{
    color: black;
  }
}


















#img {
  display: flex;
  border: 2px solid rgb(241, 233, 233);
  width: 840px;
  height: 90px;
  background-color: rgb(231, 231, 240);
}
#fun {
  width: 203px;
  border: 1px solid #dab8b8;
  border-radius: 4px;
  padding: 5px;

}

#fun2 {
  width: 203px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #d6b5b5;
  height: 80px;
}

.img2 {
  display: flex;
  width: 840px;
  height: 80px;
  background-color: rgb(230, 230, 238);
}

#midcontent {
  margin-top: 42px;
  border-color: blueviolet;
}

#firstimg {
  width: 840px;
  height: 175px;
  /* background-color: rgb(231, 216, 216);
  border: 2px solid rgb(255, 255, 255); */
  margin-left: 1vh;
  margin-top: 15px;

  margin-bottom: 64.5vh;
  background: transparent;
}

.mid-info {
  width: 98.5%;
  height: 595px;
  background-color: brown;
  margin-top: -480px;
  margin-left: 10px;
}





.side-div{
  width: 310px;
  height: 800px;

  margin-top: 45px;
  border-radius: 5px;


}



.lbl-cl{
  label{
    width: 100%;
    height: 35px;
    padding: 5px 8px;
    font-size: 16px;
    
  }
}

#lbl-div{
  background: rgb(183,134,47);
  background: linear-gradient(90deg, rgba(183,134,47,1) 8%, rgba(185,137,50,1) 23%, rgba(209,176,94,1) 35%, rgba(233,214,137,1) 53%, rgba(183,134,47,1) 84%);
   
  color: white;
  border-bottom: 1px solid black;
   
  border-radius: 0.5vh;

}










.side3 {
  width: 310px;
  height: 415px;
  background-color: rgb(255, 255, 255);
 
  border-left: 1px solid rgb(218, 170, 170);
  border-bottom: 1px solid rgb(218, 170, 170);
  padding-left: 1px;
  font-size: 21.7px;




  overflow: scroll;
  overflow-x: hidden;



  label{
    width: 100%;
    height: 35px;
    padding: 5px 8px;
    font-size: 16px;
    
  }
}

#lbl1 {
  background: rgb(183,134,47);
  background: linear-gradient(90deg, rgba(183,134,47,1) 8%, rgba(185,137,50,1) 23%, rgba(209,176,94,1) 35%, rgba(233,214,137,1) 53%, rgba(183,134,47,1) 84%);
   
  color: white;
  border-bottom: 1px solid black;
   
  border-radius: 0.5vh;
}

.clickimg {
  padding: 50px 0px 35px 0px;
 
  img {
    height: 176px;
    width: 100%;
    padding-bottom: 5px;
  }

  
}


.small-img{
  width: 100%;
  height: 320px;

  margin-top: 30px;



   label{
    width: 100%;
    height: 35px;
    padding: 5px 8px;
   }

    img{
      width: 49.2%;
      height: 71px;
      padding-top: 1px;
    }

}



.imp-play {
  width: 81%;
  background-color: rgb(241, 241, 11);
  height: 500px;
  float: right;
  margin-right: 15px;
  margin-top: -520px;
  position: relative;
}

.pic {
  display: flex;
  width: 100%;
  height: 250px;
 

  
}
#imgpc {
  height: 250px;
  width: 33.3%;
  padding: 0.5px;
}

.pic2 {
  display: flex;
  width: 100%;
  height: 250px;


}
#imgpc {
  height: 250px;
  width: 33.3%;
}




.footer{

  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  padding: 10px 0px;
a{
  text-decoration: none;
  color: white;
  font-size: small;

}

 
}













/* text with hover */




.container {
  position: relative;
  width: 200px;
  height: 100px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}